.emailRegister{
    padding:10px;   
    text-align: center;
}
.email-register{
     display:inline-flex;
     margin:auto;
   text-align: center;
   width:100%;
   
}
.email-register{
    display:inline-flex;    
    align-items: center;
    padding-left:50px;
    gap:5px;
}
.email-register input{
    margin-top:30px;
    width: 100%; 
    max-width:400px;
    padding-left:10px  ;
    height: 50px;   
    font-size: 18px;
    border:1px solid rgb(83, 82, 82);
    border-radius: 5px;
    background-color: transparent;
}
.email-button{
    display:flex;
    align-items: center;
    margin-top:30px;
    max-width: fit-content;
    width:100px;
    height:50px;
    font-size: 18px;
    background-color: red;
    border:1px solid red;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    
}
.email-button svg{
    
    width:24px;
    height:24px;
}
 @media (max-width:500px){
        .email-button{
            max-width:10%;
        }
        .email-register {
            min-width: 200px;
            width:100%;
        }
 }
